html,
body {
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
body {
  max-width: 100%;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

// @media (min-width: 1440px) {
//   .container {
//     display: flex;
//     flex-direction: column;
//     background-color: $gray-light;
//     max-width: 100%;
//     // justify-content: center;
//     // align-items: center;
//     .programs {
//       display: flex;
//       flex-direction: row;
//       // justify-content: center;
//       // align-items: center;
//       .filterContainer {
//         background-color: white;
//         flex-direction: row;
//         max-width: 15rem;
//         height: 50%;
//         margin-left: 5px;
//         justify-content: center;
//         align-items: center;
//         .primmaryBtn {
//           cursor: pointer;
//           padding: 5px;
//           margin: 10px;
//           background-color: $button;
//           border: 0;
//           border-radius: 5px;
//         }
//         .active {
//           background-color: $button-active;
//           cursor: not-allowed;
//           color: #eee;
//         }
//         hr {
//           width: 60%;
//         }
//         .filterBox {
//           display: flex;
//           flex-direction: column;
//           justify-content: center;
//           align-items: center;
//           .btnGroup {
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//             flex-wrap: wrap;
//             justify-content: center;
//           }
//         }
//       }
//       .flightContainer {
//         max-width: 70%;
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-items: stretch;
//         flex-wrap: wrap;
//         .cardContainer {
//           max-width: 25%;
//           background-color: white;
//           padding: 10px;
//           margin: 10px;
//           img {
//             width: 100px;
//             background-color: $gray-light;
//             display: block;
//             margin-left: auto;
//             margin-right: auto;
//           }
//           h5 {
//             color: $blue;
//             margin: 5px;
//           }
//           strong {
//             font-size: 12px;
//           }
//         }
//       }
//     }
//   }
  
// }

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 700px) and (max-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    background-color: $gray-light;
    max-width: 100%;
    // justify-content: center;
    // align-items: center;
    .programs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      // align-items: center;
      .filterContainer {
        background-color: white;
        flex-direction: row;
        max-width: 11rem;
        height: 50%;
        margin: 5px;
        justify-content: center;
        align-items: center;
        .primmaryBtn {
          cursor: pointer;
          padding: 8px;
          margin: 12px;
          background-color: $button;
          border: 0;
          border-radius: 5px;
        }
        .active {
          background-color: $button-active;
          cursor: not-allowed;
          color: #eee;
        }
        hr {
          width: 60%;
        }
        .filterBox {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .btnGroup {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
      .flightContainer {
        max-width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        .cardContainer {
          max-width: 28%;
          background-color: white;
          padding: 10px;
          margin: 10px;
          border-radius: 5px;
          img {
            width: 100px;
            background-color: $gray-light;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          h5 {
            color: $blue;
            margin: 5px;
          }
          strong {
            font-size: 12px;
          }
        }
      }
    }
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media only screen and (max-width: 699px) {
  .container {
    display: flex;
    flex-direction: column;
    background-color: $gray-light;
    max-width: 100%;
    // justify-content: center;
    align-items: center;
    .programs {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      .filterContainer {
        background-color: white;
        flex-direction: row;
        max-width: 11rem;
        height: 50%;
        margin-left: 5px;
        justify-content: center;
        align-items: center;
        .primmaryBtn {
          cursor: pointer;
          padding: 8px;
          margin: 12px;
          background-color: $button;
          border: 0;
          border-radius: 5px;
        }
        .active {
          background-color: $button-active;
          cursor: not-allowed;
          color: #eee;
        }
        hr {
          width: 60%;
        }
        .filterBox {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .btnGroup {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
          }
        }
      }
      .flightContainer {
        max-width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        .cardContainer {
          max-width: 100%;
          background-color: white;
          padding: 10px;
          margin: 10px;
          border-radius: 5px;
          img {
            width: 100px;
            background-color: $gray-light;
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          h5 {
            color: $blue;
            margin: 5px;
          }
          strong {
            font-size: 12px;
          }
        }
      }
    }
  }
}


#root {
  min-height: 100%;
  position: relative;
}

nav {
  padding: 20px;
  background: $gray-light;
  margin-bottom: 40px;
}

.main {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 200px;
}

.footer {
  text-align: center;
}

.active {
  color: $blue;
}



